<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="EasyTwitterGroup">
            <section name="EasyTwitterConfig" type="EasyTwitter.Config.EasyTwitterConfiguration"/>
        </sectionGroup>
    </configSections>

    <!-- Twitter Group configuration -->
    <EasyTwitterGroup>
        <EasyTwitterConfig
            consumerKey=""
            consumerSecret=""
            callbackUri="http://127.0.0.1:52374/CallBackPage.aspx" />
    </EasyTwitterGroup>
</configuration>