<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="EasyTwitterGroup">
            <section name="EasyTwitterConfig" type="EasyTwitter.Config.EasyTwitterConfiguration"/>
        </sectionGroup>
    </configSections>

    <!-- Twitter Group configuration -->
    <EasyTwitterGroup>
        <EasyTwitterConfig
            consumerKey="hkdccb5iw7zHR8ICReoQXw"
            consumerSecret="2SMcv1kSe12I3vQgp45028Hxw1gPA1OmYYwzl2MukQ"
            callbackUri="http://127.0.0.1:52374/CallBackPage.aspx" />
    </EasyTwitterGroup>
</configuration>