<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


    <configSections>
        <sectionGroup name="EasyTwitterGroup">
            <section name="EasyTwitterConfig" type="EasyTwitter.Config.EasyTwitterConfiguration"/>
        </sectionGroup>
    </configSections>

    <!-- Twitter Group configuration -->
    <EasyTwitterGroup>
        <EasyTwitterConfig
            consumerKey=""
            consumerSecret=""
            callbackUri="http://127.0.0.1:52374/CallBackPage.aspx" />
    </EasyTwitterGroup>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    
</configuration>
