<?xml version="1.0"?>
<configuration>

<configSections>
    <sectionGroup name="EasyTwitterGroup">
        <section name="EasyTwitterConfig" type="EasyTwitter.Config.EasyTwitterConfiguration, EasyTwitter"/>
    </sectionGroup>
</configSections>

<!-- Twitter Group configuration -->
<EasyTwitterGroup>
    <EasyTwitterConfig consumerKey="" 
                       consumerSecret="" 
                       callbackUri="oob"/>
</EasyTwitterGroup>

    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
    


</configuration>
